{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgir</title>
    {% tailwind_css %}
</head>
<body class="bg-yellow-50 flex items-center justify-center min-h-screen">

    <div class="text-center">
        <h1 class="text-6xl font-bold text-yellow-500">🍔 Burgir</h1>
        <p class="text-2xl mt-4 text-gray-600">I love Django + Tailwind!</p>
        <p class="text-lg mt-2 text-gray-400">Mahal ko ang Django + Tailwind!</p>
    </div>

</body>
</html>
